body {
	background-color:#FFFEFD;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
img {
	border:none;
}
#reset_button {
	position:absolute;
	left:535px;
	top:210px;
}
#reset_button a {
	font-size:10px;
	color:black;
}
h1 {
	position:absolute;
	top:10px;
	left:20px;
	margin:0;
}
#grimace_wrapper {
	display:block;
	width:360px;
	height:360px;
}
#grimace_wheel {
	position:absolute;
	background:url('wheel.gif') center center no-repeat;
	width:360px;
	height:360px;
}
#captures {
	float:right;
}
#captures li img {
	height:64px;
}
#buttons {
	display:block;
	position:absolute;
	left:380px;
	list-style-type:none;
	padding:0;
}
#buttons h4 {
	margin-bottom:0;
	padding:0;
}
#buttons li {
	margin-bottom:0.5em;
}


/*jquery sliders*/

.ui-slider {
	width: 200px;
	height: 10px;
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	top:5px;
}

.ui-slider-handle {
	position: absolute;
	z-index: 1;
	height: 15px;
	width: 12px;
	top: -2px;
	left: 0px;
	background:#444;
}

.ui-slider-handle-active {
	border: 1px dotted black;
}

.ui-slider-disabled .ui-slider-handle {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.ui-slider-range {
	position: absolute;
	background: #50A029;
	opacity: 0.3;
	filter: alpha(opacity=30);
	width: 100%; height: 100%;
}

.ui-slider, .ui-slider-1 {
	background:#999;
}

.ui-slider-2 {
	background:#ddd;
}

.slider {
	width:100px;
	margin-left:60px;
}
.slidercaption {
	float:left;
	font-size:80%;
}